.content-card-div{
    position: relative;
    height: fit-content;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-img{
    width: calc(100%);
    border-radius: 10px;
    min-width: 290px;
    max-width: 390px;
 
}
.card-title{
    bottom: 30px;
    left: 10px;
   
}
.card-bottom{
    position: absolute;
    bottom: 15px;
    width: 100%;
    font-size: clamp(12px, 2.5vw, 16px); 
}

@media (min-width:770px) {
    .content-card-div{
       max-width: 290px;
    }
  }
