.dashboard-div{
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    row-gap: 12px;
}
.welcome{
    text-transform: capitalize;
}
.contents-div{
    display: flex;
    flex-wrap: wrap;
    flex-grow:calc(100%);
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(5,1fr);
    gap: 24px;
    margin: 0px 24px;
    padding-bottom: 24px;
}
.search-div{
    width: 100%;
    padding: 0px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
}
.search-bar{
    width: 100%;
    background-color: transparent;
    border: 0px;
    caret-color: var(--red);
    font-size: clamp(14px, 2.5vw, 30px); 
    height: 40px;
    color: white;
    margin-bottom: 8px;
}
.search-bar:focus{
    border-bottom: 1px solid var(--blue);
    outline: 0px;
}
.search-icon{
    max-width: 30px;
    max-height: 30px;
}
.content-div-top{
    width: 100%;
    padding: 0px 12px;
}
.trending-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    border-radius: 8px;
    padding-bottom: 12px;
    column-gap: 20px;
    padding-left: 20px;
}
.trending-div::-webkit-scrollbar {
    height: 8px;
    
  }
.trending-div::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
  }
.trending-div::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 5px;
    cursor: pointer;
  }
.desktop-container{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

  @media (min-width:770px) {
    .dashboard-div{
        color: white;
        font-size: 24px;
        display: flex;
        flex-direction: row;
        row-gap: 12px;
        column-gap: 24px;
        padding-top: 32px;
    }
    .desktop-container{
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        width: 85%;
        max-width: 1300px;
        padding-top: 24px
    }
    .trending-div{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-x: auto;
        border-radius: 8px;
        padding-bottom: 12px;
        column-gap: 120px;
        padding-left: 50px;
        width: 97.5%;
    }
    .contents-div{
        justify-content: start;
    }
  }
