.dashboard-div{
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    row-gap: 12px;
}
.welcome{
    text-transform: capitalize;
}
.contents-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(5,1fr);
    gap: 24px;
    margin: 0px 24px;
    padding-bottom: 24px;
}
.search-div{
    width: 100%;
    padding: 0px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
}
.search-bar{
    width: 100%;
    background-color: transparent;
    border: 0px;
    caret-color: var(--red);
    font-size: clamp(14px, 2.5vw, 30px); 
    height: 40px;
    color: white;
}
.search-bar:focus{
    border-bottom: 1px solid var(--blue);
    outline: 0px;
}
.search-icon{
    max-width: 30px;
    max-height: 30px;
}
.content-div-top{
    width: 100%;
    padding: 0px 12px;
}
.trending-div{
    width: 100%;
    display: flex;
    align-items: center;
    row-gap: 12px;
    overflow: scroll;
    column-gap: 20px;
    overflow-y:hidden;
    overflow-x: scroll;
    padding: 12px 12px;
}
.trending-div::-webkit-scrollbar {
    height: 5px;
    
  }
.trending-div::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
  }
.trending-div::-webkit-scrollbar-thumb {
    background: var(--red);
    border-radius: 5px;
  }


  @media (min-width:770px) {
    .dashboard-div{
        color: white;
        font-size: 24px;
        display: flex;
        flex-direction: row;
        row-gap: 12px;
        column-gap: 24px;
        padding-top: 24px;
    }
    .desktop-container{
        width: 85%;
        max-width: 1300px;
      }
  }
