@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root {
    --red: #fc4545;
    --black: #10141e;
    --white: #fff;
    --blue: #5a6a90;
    --blue-dark: #171e31;
  }
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    background-color: #10141e;
}

body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: var(--blue-dark);
    border-radius: 5px;
}
body::-webkit-scrollbar-thumb {
    background: var(--red);
    border-radius: 5px;
  }